{% extends 'base.html.twig' %}

{% block title %}Home Page
{% endblock %}

{% block body %}

	<!-- Displaying Admin section -->
	{% if is_granted('ROLE_ADMIN') and app.user  %}
		<!-- Displaying User section -->

	{% elseif is_granted('ROLE_USER') and app.user %}
		<!-- Displaying Moods list -->
		<ul style="display:flex; list-style-type: none !important; text-align: center; justify-content: center;">
			{% for mood in moods %}
				<div style="display:flex; flex-direction: column; border-radius: 10px; background-color:#536EE3 !important; text-align: center; padding: 10px 25px; justify-content: center; margin-left: 3.3rem; cursor: pointer; margin-top: 20px">
					<li style=" font-size: 52px;" id="selectedMood">{{mood.emoji}}</li>
					<li style="!important; font-size: 18px; align-self: center;">{{mood.name}}</li>
				</div>
			{% endfor %}
		</ul>
	{% endif %}

{% endblock %}
