{% extends 'base.html.twig' %}

{% block title %}Home Page
{% endblock %}

{% block body %}
	<!-- Displaying Admin section -->
	{% if is_granted('ROLE_ADMIN') and app.user  %}

		<a href="{{ path('app_mood_index') }}">
			Moods List
		</a>

		<a href="{{ path('app_logout') }}">
			Movies List
		</a>


		<!-- Displaying User section -->
		{% elseif is_granted('ROLE_USER') and app.user %}


	{% endif %}


{% endblock %}
