{% extends 'base.html.twig' %}

{% block title %}Edit Movie{% endblock %}

{% block body %}
    <a href="{{ path('app_movie_index') }}">Retour à la bibliotheque</a>
    <h1>Edit Movie</h1>

    {{ include('movie/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('movie/_delete_form.html.twig') }}
{% endblock %}
