{% extends 'base.html.twig' %}

{% block title %}Edit Movie
{% endblock %}

{% block body %}
	<h1>Modifier un film</h1>

	{{ include('movie/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

{% endblock %}
