/*============ Global Styles ===============*/

@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Poppins:wght@500&family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,700&family=Zen+Antique&display=swap');

body {
    background-color: #070E2D !important;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    color: #070E2D;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    color: #A7B4F1;
}

/*============ Header and Main Navigation ===============*/

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header .logo img {
    width: 157px;
}

.header .buttons button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #536EE4;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.header .buttons button {
    margin-left: 1rem;
    padding: 0.5rem 1.4rem;
    border: none;
    border-radius: 5px;
    background-color: #536EE4;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700 !important;
}

.alert {
    font-weight: bold;
    text-align: center;
    color: #fff;
}

/*============ Buttons ===============*/

.c-button {
    background: #A7B4F1;
    border: 1px solid transparent;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    padding: 0 24px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #070E2D;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    /* Remove IOS Style */
    -webkit-appearance: none;
}

.c-button:hover:not([disabled]) {
    text-decoration: none;
    color: #A7B4F1;
    border: 1px solid #A7B4F1;
    background: transparent;
}

.c-button:disabled,
.c-button--disabled {
    cursor: not-allowed;
}

.c-button--outline {
    color: #A7B4F1;
    border: 1px solid #A7B4F1;
    background: transparent;
}

.c-button--outline:hover:not([disabled]) {
    color: #070E2D;
    border: 1px solid #070E2D;
    background: #A7B4F1;
}