
/*============ Global Styles ===============*/

@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Poppins:wght@500&family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,700&family=Zen+Antique&display=swap');

body {
    background-color: #070E2D !important;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;    
}

/*============ Header and Main Navigation ===============*/

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header .logo img {
    width: 157px;
}

.header .buttons button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #536EE4;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.header .buttons button {
    margin-left: 1rem;
    padding: 0.5rem 1.4rem;
    border: none;
    border-radius: 5px;
    background-color: #536EE4;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 300;
}

.alert {
    font-weight: bold;
    text-align: center;
    color: #fff;
}