<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Welcome!{% endblock %} | MoodFlix</title>
		<link
		rel="icon" href="../assets/logo.png">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body>
		<header class="header">
			<style>


				nav {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 1rem;
				}

				.logo img {
					width: 157px;
				}

				.buttons button {
					margin-left: 1rem;
					padding: 0.5rem 1rem;
					border: none;
					border-radius: 5px;
					background-color: #536EE4;
					color: #fff;
					font-size: 1rem;
					cursor: pointer;
				}
			</style>

			<nav>
				<div class="logo">
					<img src="../assets/logo.png"/>
				</div>
				<div class="buttons">
					<button>Inscription</button>
					<button>Connexion</button>
				</div>
			</nav>
		</header>
		{% block body %}{% endblock %}
	</body>
</html>
