{% extends 'base.html.twig' %}

{% block title %}Modifier un Mood
{% endblock %}

{% block body %}
	<h1>Modifier</h1>

	{{ include('mood/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
