{% extends 'base.html.twig' %}

{% block title %}Moods Info
{% endblock %}

{% block body %}
	<a style="color:white; font-size:20px; text-decoration: underline; margin-left: 3rem" href="{{ path('app_mood_index') }}">Retourner à la liste</a>

	<div class="container" style="margin-top: 3rem !important; text-align: center; height: 200px; width: 310px;">
		<div>
			<tbody>

				<tr>
					<td>
						<h2>{{ mood.name }}</h2>
					</td>
				</tr>

				<tr>
					<td>
						<p>{{ mood.description }}
						</p>
					</td>
				</tr><br>

				<tr>
					<td>
						<p style="margin-top: 0; font-size: 34px;">{{ mood.emoji }}</p>
					</td>
				</tr>
				<br>

			</tbody>
		</div>
	</div>
{% endblock %}
